# Standard Node.js / Vite ignores

# Dependencies
node_modules/
.DS_Store

# Environment variables
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
.nyc_output
coverage/

# Build outputs
dist/
build/
.out/

# VSCode
.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

/src/generated/prisma
